/* CSS declarations go here */
.grid-test{
    height: 40px;
    //border: 1px solid gray;
    background-color: lightblue;
}

ul li{
    list-style-type: none;
}

.heading{
    background-image:  url('/img/logo.png');
}

a:hover{
    text-decoration: none!important;
}

.signin{
    padding-left:280px;
    padding-top: 10px;
}

.logo{
    padding-top: 20px;
}

.loading-spinner{
	background-image: url('/img/loading_spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
}