<template name="header">
    <nav class="row navbar">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-header dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Računi <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'tekuci'}}">Tekući</a></li>
                        <li><a href="#">Žiro</a></li>
                        <li><a href="#">Devizni</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Ostalo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plaćanja <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'nalog'}}">Novi nalog</a></li>
                        <li><a href="#">Mjenjačnica</a></li>
                        <li><a href="{{pathFor 'tecaj'}}">Tečajna lista</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Štednja <span class="sr-only">(current)</span></a></li>
                <li class="navbar-header dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Krediti <span class="sr-only">(current)</span></a>
                    <ul class="dropdown-menu">
                        <li><a id="osobni-krediti" href="{{pathFor 'osobniKrediti'}}">Osobni krediti</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Kartice <span class="sr-only">(current)</span></a></li>
                <li class="navbar-header dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Postavke <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="osobni-podaci" href="{{pathFor 'osobniPodaci'}}">Osobni podaci</a></li>
                        <li><a id="komitent" href="{{pathFor 'komitent'}}">Komitent unos</a></li>
                    </ul>
                </li>
                <li class="signin">{{> loginButtons}}</li>
            </ul>
        </div>
    </nav>
</template>
