<template name="promet">
    <table class="table table-condensed table-hover">
        <thead><tr>
                <th>Datum</th>
                <th>Svrha</th>
                <th>Isplata</th>
                <th>Uplata</th>
                <th>Stanje</th>
            </tr>
        </thead>
        <tbody>
            {{#each prometi}}
            <tr><td>{{datum}}</td><td>{{svrha}}</td><td>{{isplata}}</td><td>{{uplata}}</td><td>{{stanje}}</td></tr>
            {{/each}}
        </tbody>
    </table>
</template>
